.CvEdit{
    width: 550px;
}
form{
    border: 2px solid grey;
    padding: 30px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
section > h4{
    margin-bottom: 5px;
}
.section-title{
    color: #5E5E5E;
    font-size: 1.05rem;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}
section{
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
}
.delete-work-exp-item{
    align-self: flex-end;
    /* background-color: rgb(233, 94, 94); */
    /* color: white; */
    /* border: none; */
    cursor: pointer;
    padding: 4px 8px;
}
.delete-work-exp-item:hover, .delete-proj-item:hover, .delete-edu-item:hover{
    transform: scale(0.95);
}
.delete-work-exp-item:active, .delete-proj-item:active, .delete-edu-item:active{
    transform: scale(0.90);
}
.add-work-exp-item, .add-proj-item, .add-edu-item{
    cursor: pointer;
}
.delete-edu-item, .delete-proj-item{
    align-self: flex-end;
    /* background-color: rgb(233, 94, 94); */
    /* color: white; */
    /* border: none; */
    cursor: pointer;
    padding: 4px 8px;
}
.work-exp-item, .edu-item, .proj-item{
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
}
@media only screen and (max-width: 600px) {
    .CvEdit{
        width: 80vw;
    }
}