@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');
/* CSS RESET */  
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
}

ol, ul {
  list-style: none;
}


img {
  max-width: 100%;
  height: auto;
}

a{
  text-decoration: none;
}


body {
    animation: fadeInAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
  
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}